.line{
    width: 100px;
    height: 100px;
    background: linear-gradient(red, yellow, blue, orange);
}
.diag{
    width: 100px;
    height: 100px;
    background: linear-gradient(to bottom left, cyan 50%, palegoldenrod 50%);
}
.rad{
    width: 100px;
    height: 100px;
    background: radial-gradient(red 10px, yellow 30%, #1e90ff 50%);

}
.conic{
    width: 100px;
    height: 100px;
    background: conic-gradient(red, blue);
}
.elipse{
    width: 100px;
    height: 100px;
    background: radial-gradient(
            ellipse closest-side,
            blue,
            yellow 10%,
            green 50%,
            beige
    );
}