p:nth-child(1){
    font-family: Arial;
    font-style: italic;
    font-size: 20px;
    text-transform: uppercase;
    text-shadow: 4px 4px 5px black;
    text-align:left;
}
p:nth-child(2) {
    font-size: 18px;
    text-align:justify;
}

p:nth-child(3){
    font-family:Verdana;
    text-transform: capitalize;
    text-align:right;

}

p:nth-child(4){
    font-family: "Courier New";
    text-shadow: 4px 4px 5px black;
    text-transform: uppercase;
}
p:nth-child(5){
    font-family: Georgia cursive;
    font-style: italic;
    font-size: 22px;
}
p:nth-child(6){
    font-family: "Arial";
    font-size: 30px;
    text-transform: uppercase;
    text-align: right;
    font-weight: bold;
    text-shadow: 4px 4px 5px black;

}
p:nth-child(7){
    font-family:Verdana;
    text-transform: capitalize;
    font-style: italic;
    text-align: center;
    font-size: small;


}