a[target="_blank"] {
    position: relative;
}
a[target="_blank"]:hover {
    color: red;
}
a[target="_blank"]::after {
    position: absolute;
    top: 0;
    right: -180%;
    background-color: rgba(255, 255, 255, 0.8);
    padding: 3px 5px;
    border-radius: 5px;
    font-size: 0.8em;
    font-style: italic;
    pointer-events: none;
}
