body{
    font-family:cursive;
    background: linear-gradient(180deg, blue, yellow);
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10%;
}
.container{
    background-color: rgb(255, 255, 255);
    max-width: 700px;
    width: 100%;
    border-radius: 25px;
    box-shadow: 0px 0px 25px  black;
    padding: 3%;
}
.container .title{
    font-size: 30px;
    font-weight: 400;
    text-align: center;
}
.container form .user{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-left: 100px;
    margin-top: 40px;

}
form .user .registration{
    width:300px;
    margin: 20px 0 12px 0;
}
.user .input input{
    height: 20px;
    width: 70%;
    transition: 1.2s;
}
.input input{
    padding:10px;
    border:0.5px solid gray;
    border-radius: 10px;
}
.container form .radio{
    display: flex;
    flex-direction: row;
    margin-left: 2%;
    margin-bottom: 2%;
}
form .radio .date{
    margin-left: 400px;
}
.input .text1{
    width: 150px;
}
.container form .checbox{
    margin-bottom: 3%;
}
.container form .button{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.button1 .input1 input{
    font-family: cursive;
    border-radius: 10px;
    border: 0.5px solid gray;
    box-shadow: 0px 0px 5px black;
    width: 250px;
    padding: 10px;
    background-color:  blue
}
.button2 .input1 input{
    font-family: cursive;
    border-radius: 10px;
    border: 0.5px solid gray;
    box-shadow: 0px 0px 5px black;
    width: 250px;
    padding: 10px;
    background-color:yellow
}
.user .input input:hover{
    transform: scale(1.2);
    box-shadow: 0px 0px 5px black;
}
hr{
    border: none;
    height: 5px;
    background-color: #cbcaa5
}
