table {
    width: 100%;
    border-collapse: collapse;
}

th, td {
    border: 1px solid #ccc;
    padding: 10px;
    text-align: center;
}

thead th {
    background-color: #d7b5b5;
    color: white;
    font-weight: bold;
}

tbody tr:nth-child(odd) {
    background-color: #f9f9f9;
}

tbody tr:nth-child(even) {
    background-color: #f1f1f1;
}

tbody tr td:first-child {
    text-align: left;
}

tbody tr td {
    background-color: #d68b8b;
}

tbody tr td:nth-child(2) {
    background-color: #f0e2e2;
}

tbody tr td:nth-child(3) {
    background-color: #f9cfcf;
}

tbody tr td:nth-child(4) {
    background-color: #f6bebe;
}

tbody tr td:nth-child(5) {
    background-color: #c29e9e;
}

tbody tr td:empty {
    background-color: #ffffff;
}
