p:nth-child(2){
    font-size:20px
}
p:nth-child(5){
    color: red;
}
code:nth-last-child(4){
    color:deeppink;
}

#myList li:hover + li {
    background-color: yellow;
}

#myList2 li:hover ~ li {
    background-color: yellow;
}
