table {
    border: 1px solid black;
    border-collapse: collapse;
    margin-bottom: 20px;
}
th, td {
    border: 1px solid black;
    padding: 5px;
    text-align: center;
}
th {
    background-color: #d3d3d3;
}
.colgroup-table {
    width: 50%;
}
.colgroup-table colgroup col {
    border: 2px solid black;
}
.colored-table td {
    background-color: #00ff00;
}