body {
    font-family: Arial, sans-serif;
}

.menu {
    list-style-type: none;
    padding: 0;
    margin: 0;
    background-color: green;
    width: 200px;
}

.menu > li {
    background-color: green;
    color: white;
    padding: 10px;
    border-bottom: 2px solid white;
}

.menu > li ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.menu > li ul li {
    background-color: orange;
    color: black;
    padding: 10px;
    border-bottom: 2px solid green;
}

.menu > li ul li:last-child {
    border-bottom: none;
}
