ul {
    list-style-type: disc;
}

ul ul {
    list-style-type: decimal;
    margin-left: 20px;
}

li:hover {
    background-color: lightblue;
}

li:nth-child(odd):hover {
    color: blue;
}

li:nth-child(odd) {
    color: black;
}

li ul li:hover {
    color: red;
}

li ul li:nth-child(odd):hover {
    color: red;
}
